@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #030712;
  color: #f9fafb;
}

.gradient-text {
  background: linear-gradient(to right, #818cf8, #c084fc, #fb7185);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}